{{define "subject"}}Welcome to Greenlight!{{end}}

{{define "plainBody"}} 
Hi {{.userId}},

Thanks for joining as one of the member of SportGether. We're excited to have you onboard!
Please validate your account by pasting the below code in the prompt window from the application.

Your activation code: {{.activationCode}}



Thanks,
CharmFlex Studio
{{end}}

{{define "htmlBody"}} 
<!doctype html> 
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body> 
    <p>Hi {{.userId}}</p>
    <p>Thanks for joining as one of the member of SportGether. We're excited to have you onboard!</p>
    <p>Please validate your account by pasting the below code in the prompt window from the application.</p>
    <p>P Your activation code: {{.activationCode}}</p>

    Your activation code: {{.activationCode}}

    <p>Thanks,</p>
    <p>CharmFlex Studio</p>
</body>

</html> 
{{end}}