{{define "subject"}}Welcome to SportGether!{{end}}

{{define "plainBody"}} 
Hi {{.userId}},

Thanks for joining as one of the member of SportGether. We're excited to have you onboard!
Please validate your account by pasting the below code in the prompt window from the application.

Your activation code: {{.activationCode}}
Your username: {{.userId}}



Thanks,
CharmFlex Studio
{{end}}

{{define "htmlBody"}} 
<!doctype html> 
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body> 
    <p>Hi {{.userId}}</p>

    <br></br>

    <p>Thanks for joining as one of the member of SportGether. We're excited to have you onboard!</p>
    <p>Please validate your account by pasting the below code in the prompt window from the application.</p>

    <br></br>

    <p>Your activation code: {{.activationCode}}</p>
    <p>Your username: {{.userId}}</p>

    <br></br>
    <br></br>
    <br></br>

    <p>Thanks,</p>
    <p>CharmFlex Studio</p>
</body>

</html> 
{{end}}